openapi: 3.0.3
info:
    title: weather.gov API
    description: weather.gov API
    version: 1.9.0
servers:
    -
        url: https://api.weather.gov
        description: Production server
externalDocs:
    description: Full API documentation
    url: https://www.weather.gov/documentation/services-web-api
security:
    - userAgent: []
paths:
    /alerts:
        get:
            operationId: alerts_query
            x-symfony:
                controller: App\Controller\AlertController::alertQueryAction
            description: Returns all alerts
            parameters:
                -
                    name: active
                    in: query
                    deprecated: true
                    description: List only active alerts (use /alerts/active endpoints instead)
                    schema:
                        type: boolean
                - $ref: '#/components/parameters/QueryStartTime'
                - $ref: '#/components/parameters/QueryEndTime'
                - $ref: '#/components/parameters/AlertStatus'
                - $ref: '#/components/parameters/AlertMessageType'
                - $ref: '#/components/parameters/AlertEventName'
                - $ref: '#/components/parameters/AlertCode'
                - $ref: '#/components/parameters/AlertArea'
                - $ref: '#/components/parameters/AlertPoint'
                - $ref: '#/components/parameters/AlertRegion'
                - $ref: '#/components/parameters/AlertRegionType'
                - $ref: '#/components/parameters/AlertZone'
                - $ref: '#/components/parameters/AlertUrgency'
                - $ref: '#/components/parameters/AlertSeverity'
                - $ref: '#/components/parameters/AlertCertainty'
                - $ref: '#/components/parameters/Limit'
                - $ref: '#/components/parameters/PaginationCursor'
            responses:
                '200':
                    $ref: '#/components/responses/AlertCollection'
                '301':
                    description: Certain common queries may be redirected to discrete URLs
                default:
                    $ref: '#/components/responses/Error'
    /alerts/active:
        get:
            operationId: alerts_active
            x-symfony:
                controller: App\Controller\AlertController::allActiveAlertsAction
            description: Returns all currently active alerts
            parameters:
                - $ref: '#/components/parameters/AlertStatus'
                - $ref: '#/components/parameters/AlertMessageType'
                - $ref: '#/components/parameters/AlertEventName'
                - $ref: '#/components/parameters/AlertCode'
                - $ref: '#/components/parameters/AlertArea'
                - $ref: '#/components/parameters/AlertPoint'
                - $ref: '#/components/parameters/AlertRegion'
                - $ref: '#/components/parameters/AlertRegionType'
                - $ref: '#/components/parameters/AlertZone'
                - $ref: '#/components/parameters/AlertUrgency'
                - $ref: '#/components/parameters/AlertSeverity'
                - $ref: '#/components/parameters/AlertCertainty'
                - $ref: '#/components/parameters/Limit'
            responses:
                '200':
                    $ref: '#/components/responses/AlertCollection'
                '301':
                    description: Certain common queries may be redirected to discrete URLs
                default:
                    $ref: '#/components/responses/Error'
    /alerts/active/count:
        get:
            operationId: alerts_active_count
            x-symfony:
                controller: App\Controller\AlertController::allActiveAlertsCountAction
            description: Returns info on the number of active alerts
            responses:
                '200':
                    description: A data structure showing the counts of active alerts broken down by various categories
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                type: object
                                properties:
                                    total:
                                        description: The total number of active alerts
                                        type: integer
                                        minimum: 0
                                    land:
                                        description: The total number of active alerts affecting land zones
                                        type: integer
                                        minimum: 0
                                    marine:
                                        description: The total number of active alerts affecting marine zones
                                        type: integer
                                        minimum: 0
                                    regions:
                                        description: Active alerts by marine region
                                        type: object
                                        additionalProperties:
                                            type: integer
                                            minimum: 1
                                    areas:
                                        description: Active alerts by area (state/territory)
                                        type: object
                                        additionalProperties:
                                            type: integer
                                            minimum: 1
                                    zones:
                                        description: Active alerts by NWS public zone or county code
                                        type: object
                                        additionalProperties:
                                            type: integer
                                            minimum: 1
                default:
                    $ref: '#/components/responses/Error'
    /alerts/active/zone/{zoneId}:
        parameters:
            - $ref: '#/components/parameters/NWSZoneId'
        get:
            operationId: alerts_active_zone
            x-symfony:
                controller: App\Controller\AlertController::activeAlertsByZoneAction
            description: Returns active alerts for the given NWS public zone or county
            responses:
                '200':
                    $ref: '#/components/responses/AlertCollection'
                default:
                    $ref: '#/components/responses/Error'
    /alerts/active/area/{area}:
        parameters:
            -
                name: area
                in: path
                required: true
                description: State/area ID
                schema:
                    $ref: '#/components/schemas/AreaCode'
        get:
            operationId: alerts_active_area
            x-symfony:
                controller: App\Controller\AlertController::activeAlertsByAreaAction
            description: Returns active alerts for the given area (state or marine area)
            responses:
                '200':
                    $ref: '#/components/responses/AlertCollection'
                default:
                    $ref: '#/components/responses/Error'
    /alerts/active/region/{region}:
        parameters:
            -
                name: region
                in: path
                required: true
                description: Marine region ID
                schema:
                    $ref: '#/components/schemas/MarineRegionCode'
        get:
            operationId: alerts_active_region
            x-symfony:
                controller: App\Controller\AlertController::activeAlertsByRegionAction
            description: Returns active alerts for the given marine region
            responses:
                '200':
                    $ref: '#/components/responses/AlertCollection'
                default:
                    $ref: '#/components/responses/Error'
    /alerts/types:
        get:
            operationId: alerts_types
            x-symfony:
                controller: App\Controller\AlertController::alertTypesAction
            description: Returns a list of alert types
            responses:
                '200':
                    description: A list of recognized event types
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                type: object
                                properties:
                                    eventTypes:
                                        description: A list of recognized event types
                                        type: array
                                        items:
                                            type: string
                default:
                    $ref: '#/components/responses/Error'
    /alerts/{id}:
        parameters:
            -
                name: id
                in: path
                required: true
                description: Alert identifier
                schema:
                    $ref: '#/components/schemas/AlertId'
        get:
            operationId: alerts_single
            x-symfony:
                controller: App\Controller\AlertController::singleAlertAction
                priority: -100
            description: Returns a specific alert
            responses:
                '200':
                    description: An alert record
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/AlertGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/AlertJsonLd'
                        application/cap+xml:
                            schema:
                                $ref: '#/components/schemas/AlertCap'
                default:
                    $ref: '#/components/responses/Error'
    /aviation/cwsus/{cwsuId}:
        get:
            operationId: cwsu
            x-symfony:
                controller: App\Controller\AviationController::cwsuAction
            description: Returns metadata about a Center Weather Service Unit
            parameters:
                - $ref: '#/components/parameters/NWSCenterWeatherServiceUnitId'
            responses:
                '200':
                    description: success
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/CenterWeatherServiceUnitJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /aviation/cwsus/{cwsuId}/cwas:
        get:
            operationId: cwas
            x-symfony:
                controller: App\Controller\AviationController::cwasAction
            description: Returns a list of Center Weather Advisories from a CWSU
            parameters:
                - $ref: '#/components/parameters/NWSCenterWeatherServiceUnitId'
            responses:
                '200':
                    description: success
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/CenterWeatherAdvisoryCollectionGeoJson'
                default:
                    $ref: '#/components/responses/Error'
    /aviation/cwsus/{cwsuId}/cwas/{date}/{sequence}:
        get:
            operationId: cwa
            x-symfony:
                controller: App\Controller\AviationController::cwaAction
            description: Returns a list of Center Weather Advisories from a CWSU
            parameters:
                - $ref: '#/components/parameters/NWSCenterWeatherServiceUnitId'
                - $ref: '#/components/parameters/Date'
                -
                    name: sequence
                    in: path
                    required: true
                    description: Sequence number
                    schema:
                        type: integer
                        minimum: 100
            responses:
                '200':
                    description: success
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/CenterWeatherAdvisoryGeoJson'
                        application/vnd.noaa.uswx+xml:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /aviation/sigmets:
        get:
            operationId: sigmetQuery
            x-symfony:
                controller: App\Controller\AviationController::sigmetQueryAction
            description: Returns a list of SIGMET/AIRMETs
            parameters:
                - $ref: '#/components/parameters/QueryStartTime'
                - $ref: '#/components/parameters/QueryEndTime'
                - $ref: '#/components/parameters/QueryDate'
                -
                    name: fir
                    in: query
                    description: FIR identifier
                    schema:
                        $ref: '#/components/schemas/FIRIdentifier'
                -
                    name: sequence
                    in: query
                    description: SIGMET sequence number
                    schema:
                        $ref: '#/components/schemas/SigmetSequenceNumber'
            responses:
                '200':
                    description: success
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/SigmetCollectionGeoJson'
                default:
                    $ref: '#/components/responses/Error'
    /aviation/sigmets/{fir}:
        get:
            operationId: sigmetsByFIR
            x-symfony:
                controller: App\Controller\AviationController::sigmetQueryAction
            description: Returns a list of SIGMET/AIRMETs for the specified FIR
            parameters:
                - $ref: '#/components/parameters/FIRIdentifier'
            responses:
                '200':
                    description: success
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/SigmetCollectionGeoJson'
                default:
                    $ref: '#/components/responses/Error'
    /aviation/sigmets/{fir}/{date}:
        get:
            operationId: sigmetsByFIRByDate
            x-symfony:
                controller: App\Controller\AviationController::sigmetQueryAction
            description: Returns a list of SIGMET/AIRMETs for the specified FIR for the specified date
            parameters:
                - $ref: '#/components/parameters/FIRIdentifier'
                - $ref: '#/components/parameters/Date'
            responses:
                '200':
                    description: success
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/SigmetCollectionGeoJson'
                default:
                    $ref: '#/components/responses/Error'
    /aviation/sigmets/{fir}/{date}/{sequence}:
        get:
            operationId: sigmet
            x-symfony:
                controller: App\Controller\AviationController::sigmetAction
            description: Returns a specific SIGMET/AIRMET
            parameters:
                - $ref: '#/components/parameters/FIRIdentifier'
                - $ref: '#/components/parameters/Date'
                - $ref: '#/components/parameters/SigmetSequenceNumber'
            responses:
                '200':
                    description: success
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/SigmetGeoJson'
                        application/vnd.noaa.uswx+xml:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /glossary:
        get:
            operationId: glossary
            x-symfony:
                controller: App\Controller\GlossaryController::glossaryAction
            description: Returns glossary terms
            responses:
                '200':
                    description: A set of glossary terms
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                type: object
                                properties:
                                    '@context':
                                        $ref: '#/components/schemas/JsonLdContext'
                                    glossary:
                                        description: A list of glossary terms
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                term:
                                                    description: The term being defined
                                                    type: string
                                                definition:
                                                    description: A definition for the term
                                                    type: string
                default:
                    $ref: '#/components/responses/Error'
    /gridpoints/{wfo}/{x},{y}:
        parameters:
            - $ref: '#/components/parameters/GridpointWFO'
            - $ref: '#/components/parameters/GridpointX'
            - $ref: '#/components/parameters/GridpointY'
        get:
            operationId: gridpoint
            x-symfony:
                controller: App\Controller\GridpointController::gridpointAction
            description: Returns raw numerical forecast data for a 2.5km grid area
            parameters:
                - $ref: '#/components/parameters/Debug'
            responses:
                '200':
                    description: Gridpoint forecast data
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/GridpointGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/GridpointJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /gridpoints/{wfo}/{x},{y}/forecast:
        parameters:
            - $ref: '#/components/parameters/GridpointWFO'
            - $ref: '#/components/parameters/GridpointX'
            - $ref: '#/components/parameters/GridpointY'
        get:
            operationId: gridpoint_forecast
            x-symfony:
                controller: App\Controller\GridpointController::gridpointForecastAction
            description: Returns a textual forecast for a 2.5km grid area
            parameters:
                - $ref: '#/components/parameters/Debug'
                - $ref: '#/components/parameters/GridpointForecastFeatureFlags'
                - $ref: '#/components/parameters/GridpointForecastUnits'
            responses:
                '200':
                    $ref: '#/components/responses/GridpointForecast'
                default:
                    $ref: '#/components/responses/Error'
    /gridpoints/{wfo}/{x},{y}/forecast/hourly:
        parameters:
            - $ref: '#/components/parameters/GridpointWFO'
            - $ref: '#/components/parameters/GridpointX'
            - $ref: '#/components/parameters/GridpointY'
        get:
            operationId: gridpoint_forecast_hourly
            x-symfony:
                controller: App\Controller\GridpointController::gridpointHourlyForecastAction
            description: Returns a textual hourly forecast for a 2.5km grid area
            parameters:
                - $ref: '#/components/parameters/Debug'
                - $ref: '#/components/parameters/GridpointForecastFeatureFlags'
                - $ref: '#/components/parameters/GridpointForecastUnits'
            responses:
                '200':
                    $ref: '#/components/responses/GridpointForecast'
                default:
                    $ref: '#/components/responses/Error'
    /gridpoints/{wfo}/{x},{y}/stations:
        parameters:
            - $ref: '#/components/parameters/GridpointWFO'
            - $ref: '#/components/parameters/GridpointX'
            - $ref: '#/components/parameters/GridpointY'
        get:
            operationId: gridpoint_stations
            x-symfony:
                controller: App\Controller\GridpointController::gridpointStationsAction
            description: Returns a list of observation stations usable for a given 2.5km grid area
            responses:
                '200':
                    $ref: '#/components/responses/ObservationStationCollection'
                default:
                    $ref: '#/components/responses/Error'
    /icons/{set}/{timeOfDay}/{first}:
        parameters:
            -
                name: set
                in: path
                required: true
                description: .
                schema:
                    type: string
            -
                name: timeOfDay
                in: path
                required: true
                description: .
                schema:
                    type: string
            -
                name: first
                in: path
                required: true
                description: .
                schema:
                    type: string
            -
                name: size
                in: query
                description: Font size
                schema:
                    anyOf:
                        -
                            type: string
                            enum:
                                - small
                                - medium
                                - large
                        -
                            type: integer
                            minimum: 10
                            maximum: 500
            -
                name: fontsize
                in: query
                description: Font size
                schema:
                    type: integer
                    minimum: 2
                    maximum: 24
        get:
            operationId: icons
            x-symfony:
                controller: App\Controller\IconController::iconAction
            description: Returns a forecast icon. Icon services in API are deprecated.
            deprecated: true
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        image/png:
                            schema:
                                $ref: '#/components/schemas/BinaryFile'
                default:
                    $ref: '#/components/responses/Error'
    /icons/{set}/{timeOfDay}/{first}/{second}:
        parameters:
            -
                name: set
                in: path
                required: true
                description: .
                schema:
                    type: string
            -
                name: timeOfDay
                in: path
                required: true
                description: .
                schema:
                    type: string
            -
                name: first
                in: path
                required: true
                description: .
                schema:
                    type: string
            -
                name: second
                in: path
                required: true
                description: .
                schema:
                    type: string
            -
                name: size
                in: query
                description: Font size
                schema:
                    anyOf:
                        -
                            type: string
                            enum:
                                - small
                                - medium
                                - large
                        -
                            type: integer
                            minimum: 10
                            maximum: 500
            -
                name: fontsize
                in: query
                description: Font size
                schema:
                    type: integer
                    minimum: 2
                    maximum: 24
        get:
            operationId: iconsDualCondition
            x-symfony:
                controller: App\Controller\IconController::iconAction
            description: Returns a forecast icon. Icon services in API are deprecated.
            deprecated: true
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        image/png:
                            schema:
                                $ref: '#/components/schemas/BinaryFile'
                default:
                    $ref: '#/components/responses/Error'
    /icons:
        get:
            operationId: icons_summary
            x-symfony:
                controller: App\Controller\IconController::indexAction
            description: Returns a list of icon codes and textual descriptions. Icon services in API are deprecated.
            deprecated: true
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                type: object
                                properties:
                                    '@context':
                                        $ref: '#/components/schemas/JsonLdContext'
                                    icons:
                                        type: object
                                        additionalProperties:
                                            type: object
                                            properties:
                                                description:
                                                    type: string
                                            required: [description]
                                            additionalProperties: false
                                required: [icons]
                                additionalProperties: false
                default:
                    $ref: '#/components/responses/Error'
    /thumbnails/satellite/{area}:
        parameters:
            -
                name: area
                in: path
                required: true
                description: .
                schema:
                    type: string
                    enum:
                        - a
                        - e
                        - g
                        - h
                        - p
                        - s
                        - w
        get:
            operationId: satellite_thumbnails
            x-symfony:
                controller: App\Controller\ImageController::thumbnailSatelliteAction
            description: Returns a thumbnail image for a satellite region. Image services in API are deprecated.
            deprecated: true
            responses:
                '200':
                    description: An image file
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        image/jpeg:
                            schema:
                                $ref: '#/components/schemas/BinaryFile'
                default:
                    $ref: '#/components/responses/Error'
    /stations/{stationId}/observations:
        parameters:
            - $ref: '#/components/parameters/ObservationStationId'
        get:
            operationId: station_observation_list
            x-symfony:
                controller: App\Controller\ObservationController::observationListAction
            description: Returns a list of observations for a given station
            parameters:
                - $ref: '#/components/parameters/QueryStartTime'
                - $ref: '#/components/parameters/QueryEndTime'
                -
                    name: limit
                    in: query
                    description: Limit
                    schema:
                        type: integer
                        minimum: 1
                        maximum: 500
            responses:
                '200':
                    $ref: '#/components/responses/ObservationCollection'
                default:
                    $ref: '#/components/responses/Error'
    /stations/{stationId}/observations/latest:
        parameters:
            - $ref: '#/components/parameters/ObservationStationId'
        get:
            operationId: station_observation_latest
            x-symfony:
                controller: App\Controller\ObservationController::stationLatestObservationAction
            description: Returns the latest observation for a station
            parameters:
                -
                    name: require_qc
                    in: query
                    description: Require QC
                    schema:
                        type: boolean
            responses:
                '200':
                    $ref: '#/components/responses/Observation'
                default:
                    $ref: '#/components/responses/Error'
    /stations/{stationId}/observations/{time}:
        parameters:
            - $ref: '#/components/parameters/ObservationStationId'
        get:
            operationId: station_observation_time
            x-symfony:
                controller: App\Controller\ObservationController::stationSingleObservationAction
            description: Returns a single observation.
            parameters:
                -
                    name: time
                    in: path
                    required: true
                    description: Timestamp of requested observation
                    schema:
                        type: string
                        format: date-time
            responses:
                '200':
                    $ref: '#/components/responses/Observation'
                default:
                    $ref: '#/components/responses/Error'
    /stations/{stationId}/tafs:
        get:
            operationId: tafs
            x-symfony:
                controller: App\Controller\AviationController::tafsAction
            description: Returns Terminal Aerodrome Forecasts for the specified airport station.
            parameters:
                - $ref: '#/components/parameters/ObservationStationId'
            responses:
                '200':
                    description: success
                    content:
                        application/ld+json:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /stations/{stationId}/tafs/{date}/{time}:
        get:
            operationId: taf
            x-symfony:
                controller: App\Controller\AviationController::tafAction
            description: Returns a single Terminal Aerodrome Forecast.
            parameters:
                - $ref: '#/components/parameters/ObservationStationId'
                - $ref: '#/components/parameters/Date'
                - $ref: '#/components/parameters/Time'
            responses:
                '200':
                    description: success
                    content:
                        application/vnd.wmo.iwxxm+xml:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /stations:
        get:
            operationId: obs_stations
            x-symfony:
                controller: App\Controller\ObservationStationController::stationsAction
            description: Returns a list of observation stations.
            parameters:
                -
                    name: id
                    in: query
                    description: Filter by observation station ID
                    schema:
                        type: array
                        items:
                            type: string
                    style: form
                    explode: false
                -
                    name: state
                    in: query
                    description: Filter by state/marine area code
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/AreaCode'
                    style: form
                    explode: false
                -
                    name: limit
                    in: query
                    description: Limit
                    schema:
                        type: integer
                        minimum: 1
                        maximum: 500
            responses:
                '200':
                    $ref: '#/components/responses/ObservationStationCollection'
                default:
                    $ref: '#/components/responses/Error'
    /stations/{stationId}:
        parameters:
            - $ref: '#/components/parameters/ObservationStationId'
        get:
            operationId: obs_station
            x-symfony:
                controller: App\Controller\ObservationStationController::stationAction
            description: Returns metadata about a given observation station
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/ObservationStationGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/ObservationStationJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /offices/{officeId}:
        parameters:
            - $ref: '#/components/parameters/NWSOfficeId'
        get:
            operationId: office
            x-symfony:
                controller: App\Controller\OfficeController::officeAction
            description: Returns metadata about a NWS forecast office
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Office'
                default:
                    $ref: '#/components/responses/Error'
    /offices/{officeId}/headlines/{headlineId}:
        parameters:
            - $ref: '#/components/parameters/NWSOfficeId'
            -
                name: headlineId
                in: path
                required: true
                description: Headline record ID
                schema:
                    type: string
        get:
            operationId: office_headline
            x-symfony:
                controller: App\Controller\OfficeController::officeHeadlineAction
            description: Returns a specific news headline for a given NWS office
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/OfficeHeadline'
                default:
                    $ref: '#/components/responses/Error'
    /offices/{officeId}/headlines:
        parameters:
            - $ref: '#/components/parameters/NWSOfficeId'
        get:
            operationId: office_headlines
            x-symfony:
                controller: App\Controller\OfficeController::officeHeadlinesAction
            description: Returns a list of news headlines for a given NWS office
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/OfficeHeadlineCollection'
                default:
                    $ref: '#/components/responses/Error'
    /offices/{officeId}/config:
        parameters:
            - $ref: '#/components/parameters/NWSOfficeId'
        get:
            operationId: office_config
            x-symfony:
                controller: App\Controller\OfficeController::configAction
                private: true
            description: Returns configuration data for an NWS office for use by other NWS web applications
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                type: object
                default:
                    $ref: '#/components/responses/Error'
    /points/{point}:
        parameters:
            - $ref: '#/components/parameters/PathPoint'
        get:
            operationId: point
            x-symfony:
                controller: App\Controller\PointController::pointAction
            description: Returns metadata about a given latitude/longitude point
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/PointGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/PointJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /points/{point}/stations:
        parameters:
            - $ref: '#/components/parameters/PathPoint'
        get:
            operationId: point_stations
            x-symfony:
                controller: App\Controller\PointController::pointStationsAction
            deprecated: true
            description: Returns a list of observation stations for a given point
            responses:
                '301':
                    description: redirect to gridpoint stations
                default:
                    $ref: '#/components/responses/Error'
    /radar/servers:
        get:
            operationId: radar_servers
            x-symfony:
                controller: App\Controller\RadarController::serversAction
            description: Returns a list of radar servers
            parameters:
                -
                    name: reportingHost
                    in: query
                    description: Show records from specific reporting host
                    schema:
                        type: string
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /radar/servers/{id}:
        parameters:
            -
                name: id
                in: path
                required: true
                description: Server ID
                schema:
                    type: string
        get:
            operationId: radar_server
            x-symfony:
                controller: App\Controller\RadarController::serverAction
            description: Returns metadata about a given radar server
            parameters:
                -
                    name: reportingHost
                    in: query
                    description: Show records from specific reporting host
                    schema:
                        type: string
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /radar/stations:
        get:
            operationId: radar_stations
            x-symfony:
                controller: App\Controller\RadarController::stationsAction
            description: Returns a list of radar stations
            parameters:
                -
                    name: stationType
                    in: query
                    description: Limit results to a specific station type or types
                    schema:
                        type: array
                        items:
                            type: string
                            pattern: '^[A-Za-z0-9-]+$'
                    style: form
                    explode: false
                -
                    name: reportingHost
                    in: query
                    description: Show RDA and latency info from specific reporting host
                    schema:
                        type: string
                -
                    name: host
                    in: query
                    description: Show latency info from specific LDM host
                    schema:
                        type: string
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema: {}
                        application/ld+json:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /radar/stations/{stationId}:
        parameters:
            -
                name: stationId
                in: path
                required: true
                description: Radar station ID
                schema:
                    type: string
        get:
            operationId: radar_station
            x-symfony:
                controller: App\Controller\RadarController::stationAction
            description: Returns metadata about a given radar station
            parameters:
                -
                    name: reportingHost
                    in: query
                    description: Show RDA and latency info from specific reporting host
                    schema:
                        type: string
                -
                    name: host
                    in: query
                    description: Show latency info from specific LDM host
                    schema:
                        type: string
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema: {}
                        application/ld+json:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /radar/stations/{stationId}/alarms:
        parameters:
            -
                name: stationId
                in: path
                required: true
                description: Radar station ID
                schema:
                    type: string
        get:
            operationId: radar_station_alarms
            x-symfony:
                controller: App\Controller\RadarController::stationAlarmsAction
            description: Returns metadata about a given radar station alarms
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /radar/queues/{host}:
        parameters:
            -
                name: host
                in: path
                required: true
                description: LDM host
                schema:
                    type: string
        get:
            operationId: radar_queue
            x-symfony:
                controller: App\Controller\RadarController::queueAction
            description: Returns metadata about a given radar queue
            parameters:
                -
                    name: limit
                    in: query
                    description: Record limit
                    schema:
                        type: integer
                        minimum: 1
                        maximum: 500
                -
                    name: arrived
                    in: query
                    description: Range for arrival time
                    schema:
                        $ref: '#/components/schemas/ISO8601Interval'
                -
                    name: created
                    in: query
                    description: Range for creation time
                    schema:
                        $ref: '#/components/schemas/ISO8601Interval'
                -
                    name: published
                    in: query
                    description: Range for publish time
                    schema:
                        $ref: '#/components/schemas/ISO8601Interval'
                -
                    name: station
                    in: query
                    description: Station identifier
                    schema:
                        type: string
                -
                    name: type
                    in: query
                    description: Record type
                    schema:
                        type: string
                -
                    name: feed
                    in: query
                    description: Originating product feed
                    schema:
                        type: string
                -
                    name: resolution
                    in: query
                    description: Resolution version
                    schema:
                        type: integer
                        minimum: 1
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /radar/profilers/{stationId}:
        parameters:
            -
                name: stationId
                in: path
                required: true
                description: Profiler station ID
                schema:
                    type: string
        get:
            operationId: radar_profiler
            x-symfony:
                controller: App\Controller\RadarController::profilerAction
            description: Returns metadata about a given radar wind profiler
            parameters:
                -
                    name: time
                    in: query
                    description: Time interval
                    schema:
                        $ref: '#/components/schemas/ISO8601Interval'
                -
                    name: interval
                    in: query
                    description: Averaging interval
                    schema:
                        $ref: '#/components/schemas/ISO8601Duration'
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema: {}
                default:
                    $ref: '#/components/responses/Error'
    /products:
        get:
            operationId: products_query
            x-symfony:
                controller: App\Controller\TextProductController::productListAction
            description: Returns a list of text products
            parameters:
                -
                    name: location
                    in: query
                    description: Location id
                    schema:
                        type: array
                        items:
                            type: string
                    style: form
                    explode: false
                -
                    name: start
                    in: query
                    description: Start time
                    schema:
                        type: string
                        format: date-time
                -
                    name: end
                    in: query
                    description: End time
                    schema:
                        type: string
                        format: date-time
                -
                    name: office
                    in: query
                    description: Issuing office
                    schema:
                        type: array
                        items:
                            type: string
                            pattern: '^[A-Z]{4}$'
                    style: form
                    explode: false
                -
                    name: wmoid
                    in: query
                    description: WMO id code
                    schema:
                        type: array
                        items:
                            type: string
                            pattern: '^[A-Z]{4}\d{2}$'
                    style: form
                    explode: false
                -
                    name: type
                    in: query
                    description: Product code
                    schema:
                        type: array
                        items:
                            type: string
                            pattern: '^\w{3}$'
                    style: form
                    explode: false
                -
                    name: limit
                    in: query
                    description: Limit
                    schema:
                        type: integer
                        minimum: 1
                        maximum: 500
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/TextProductCollection'
                default:
                    $ref: '#/components/responses/Error'
    /products/locations:
        get:
            operationId: product_locations
            x-symfony:
                controller: App\Controller\TextProductController::productLocationsAction
            description: Returns a list of valid text product issuance locations
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/TextProductLocationCollection'
                default:
                    $ref: '#/components/responses/Error'
    /products/types:
        get:
            operationId: product_types
            x-symfony:
                controller: App\Controller\TextProductController::productTypesAction
            description: Returns a list of valid text product types and codes
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/TextProductTypeCollection'
                default:
                    $ref: '#/components/responses/Error'
    /products/{productId}:
        parameters:
            -
                name: productId
                in: path
                required: true
                description: .
                schema:
                    type: string
        get:
            operationId: product
            x-symfony:
                controller: App\Controller\TextProductController::productAction
            description: Returns a specific text product
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/TextProduct'
                default:
                    $ref: '#/components/responses/Error'
    /products/types/{typeId}:
        parameters:
            -
                name: typeId
                in: path
                required: true
                description: .
                schema:
                    type: string
        get:
            operationId: products_type
            x-symfony:
                controller: App\Controller\TextProductController::productsByTypeAction
            description: Returns a list of text products of a given type
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/TextProductCollection'
                default:
                    $ref: '#/components/responses/Error'
    /products/types/{typeId}/locations:
        parameters:
            -
                name: typeId
                in: path
                required: true
                description: .
                schema:
                    type: string
        get:
            operationId: products_type_locations
            x-symfony:
                controller: App\Controller\TextProductController::locationsWithProductTypeAction
            description: >-
                Returns a list of valid text product issuance locations for a given
                product type
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/TextProductLocationCollection'
                default:
                    $ref: '#/components/responses/Error'
    /products/locations/{locationId}/types:
        parameters:
            -
                name: locationId
                in: path
                required: true
                description: .
                schema:
                    type: string
        get:
            operationId: location_products
            x-symfony:
                controller: App\Controller\TextProductController::locationProductsAction
            description: Returns a list of valid text product types for a given issuance location
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/TextProductTypeCollection'
                default:
                    $ref: '#/components/responses/Error'
    /products/types/{typeId}/locations/{locationId}:
        parameters:
            -
                name: typeId
                in: path
                required: true
                description: .
                schema:
                    type: string
            -
                name: locationId
                in: path
                required: true
                description: .
                schema:
                    type: string
        get:
            operationId: products_type_location
            x-symfony:
                controller: App\Controller\TextProductController::productsByTypeAndLocationAction
            description: >-
                Returns a list of text products of a given type for a given issuance
                location
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/TextProductCollection'
                default:
                    $ref: '#/components/responses/Error'
    /zones:
        get:
            operationId: zone_list
            x-symfony:
                controller: App\Controller\ZoneController::zoneListAction
            description: Returns a list of zones
            parameters:
                -
                    name: id
                    in: query
                    description: Zone ID (forecast or county)
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/NWSZoneID'
                    style: form
                    explode: false
                -
                    name: area
                    in: query
                    description: State/marine area code
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/AreaCode'
                    style: form
                    explode: false
                -
                    name: region
                    in: query
                    description: Region code
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/RegionCode'
                    style: form
                    explode: false
                -
                    name: type
                    in: query
                    description: Zone type
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/NWSZoneType'
                    style: form
                    explode: false
                -
                    name: point
                    in: query
                    description: Point (latitude,longitude)
                    schema:
                        $ref: '#/components/schemas/PointString'
                -
                    name: include_geometry
                    in: query
                    description: Include geometry in results (true/false)
                    schema:
                        type: boolean
                -
                    name: limit
                    in: query
                    description: Limit
                    schema:
                        type: integer
                        minimum: 1
                -
                    name: effective
                    in: query
                    description: Effective date/time
                    schema:
                        type: string
                        format: date-time
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/ZoneCollectionGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/ZoneCollectionJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /zones/{type}:
        parameters:
            -
                name: type
                in: path
                required: true
                description: Zone type
                schema:
                    $ref: '#/components/schemas/NWSZoneType'
        get:
            operationId: zone_list_type
            x-symfony:
                controller: App\Controller\ZoneController::zoneListAction
            description: Returns a list of zones of a given type
            parameters:
                -
                    name: id
                    in: query
                    description: Zone ID (forecast or county)
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/NWSZoneID'
                    style: form
                    explode: false
                -
                    name: area
                    in: query
                    description: State/marine area code
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/AreaCode'
                    style: form
                    explode: false
                -
                    name: region
                    in: query
                    description: Region code
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/RegionCode'
                    style: form
                    explode: false
                -
                    name: type
                    in: query
                    description: Zone type
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/NWSZoneType'
                    style: form
                    explode: false
                -
                    name: point
                    in: query
                    description: Point (latitude,longitude)
                    schema:
                        $ref: '#/components/schemas/PointString'
                -
                    name: include_geometry
                    in: query
                    description: Include geometry in results (true/false)
                    schema:
                        type: boolean
                -
                    name: limit
                    in: query
                    description: Limit
                    schema:
                        type: integer
                        minimum: 1
                -
                    name: effective
                    in: query
                    description: Effective date/time
                    schema:
                        type: string
                        format: date-time
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/ZoneCollectionGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/ZoneCollectionJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /zones/{type}/{zoneId}:
        parameters:
            -
                name: type
                in: path
                required: true
                description: Zone type
                schema:
                    $ref: '#/components/schemas/NWSZoneType'
            - $ref: '#/components/parameters/NWSZoneId'
        get:
            operationId: zone
            x-symfony:
                controller: App\Controller\ZoneController::zoneAction
            description: Returns metadata about a given zone
            parameters:
                -
                    name: effective
                    in: query
                    description: Effective date/time
                    schema:
                        type: string
                        format: date-time
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/ZoneGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/ZoneJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /zones/{type}/{zoneId}/forecast:
        parameters:
            -
                name: type
                in: path
                required: true
                description: Zone type
                schema:
                    type: string
            - $ref: '#/components/parameters/NWSZoneId'
        get:
            operationId: zone_forecast
            x-symfony:
                controller: App\Controller\ZoneController::zoneForecastAction
            description: Returns the current zone forecast for a given zone
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/ZoneForecastGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/ZoneForecastJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /zones/forecast/{zoneId}/observations:
        parameters:
            - $ref: '#/components/parameters/NWSZoneId'
        get:
            operationId: zone_obs
            x-symfony:
                controller: App\Controller\ZoneController::zoneObservationsAction
            description: Returns a list of observations for a given zone
            parameters:
                -
                    name: start
                    in: query
                    description: Start date/time
                    schema:
                        type: string
                        format: date-time
                -
                    name: end
                    in: query
                    description: End date/time
                    schema:
                        type: string
                        format: date-time
                -
                    name: limit
                    in: query
                    description: Limit
                    schema:
                        type: integer
                        minimum: 1
                        maximum: 500
            responses:
                '200':
                    description: success
                    headers:
                        X-Correlation-Id:
                            $ref: '#/components/headers/CorrelationId'
                        X-Request-Id:
                            $ref: '#/components/headers/RequestId'
                        X-Server-Id:
                            $ref: '#/components/headers/ServerId'
                    content:
                        application/geo+json:
                            schema:
                                $ref: '#/components/schemas/ObservationCollectionGeoJson'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/ObservationCollectionJsonLd'
                default:
                    $ref: '#/components/responses/Error'
    /zones/forecast/{zoneId}/stations:
        parameters:
            - $ref: '#/components/parameters/NWSZoneId'
        get:
            operationId: zone_stations
            x-symfony:
                controller: App\Controller\ZoneController::zoneStationsAction
            description: Returns a list of observation stations for a given zone
            responses:
                '200':
                    $ref: '#/components/responses/ObservationStationCollection'
                default:
                    $ref: '#/components/responses/Error'
components:
    schemas:
        Alert:
            description: >
                An object representing a public alert message.

                Unless otherwise noted, the fields in this object correspond to the National Weather Service CAP v1.2
                specification, which extends the OASIS Common Alerting Protocol (CAP) v1.2 specification and USA
                Integrated Public Alert and Warning System (IPAWS) Profile v1.0. Refer to this documentation for more
                complete information.

                http://docs.oasis-open.org/emergency/cap/v1.2/CAP-v1.2-os.html
                http://docs.oasis-open.org/emergency/cap/v1.2/ipaws-profile/v1.0/cs01/cap-v1.2-ipaws-profile-cs01.html
                https://alerts.weather.gov/#technical-notes-v12
            type: object
            properties:
                id:
                    $ref: '#/components/schemas/AlertId'
                areaDesc:
                    description: A textual description of the area affected by the alert.
                    type: string
                geocode:
                    description: Lists of codes for NWS public zones and counties affected by the alert.
                    type: object
                    properties:
                        UGC:
                            description: A list of NWS public zone or county identifiers.
                            type: array
                            items:
                                $ref: '#/components/schemas/NWSZoneID'
                        SAME:
                            description: A list of SAME (Specific Area Message Encoding) codes for affected counties.
                            type: array
                            items:
                                type: string
                                pattern: ^\d{6}$
                affectedZones:
                    description: >
                        An array of API links for zones affected by the alert. This is an API-specific extension field
                        and is not part of the CAP specification.
                    type: array
                    items:
                        type: string
                        format: uri
                references:
                    description: A list of prior alerts that this alert updates or replaces.
                    type: array
                    items:
                        type: object
                        properties:
                            '@id':
                                description: An API link to the prior alert.
                                type: string
                                format: uri
                            identifier:
                                $ref: '#/components/schemas/AlertId'
                            sender:
                                description: The sender of the prior alert.
                                type: string
                            sent:
                                description: The time the prior alert was sent.
                                type: string
                                format: date-time
                sent:
                    description: The time of the origination of the alert message.
                    type: string
                    format: date-time
                effective:
                    description: The effective time of the information of the alert message.
                    type: string
                    format: date-time
                onset:
                    description: The expected time of the beginning of the subject event of the alert message.
                    type: string
                    format: date-time
                    nullable: true
                expires:
                    description: The expiry time of the information of the alert message.
                    type: string
                    format: date-time
                ends:
                    description: The expected end time of the subject event of the alert message.
                    type: string
                    format: date-time
                    nullable: true
                status:
                    $ref: '#/components/schemas/AlertStatus'
                messageType:
                    $ref: '#/components/schemas/AlertMessageType'
                category:
                    description: The code denoting the category of the subject event of the alert message.
                    type: string
                    enum:
                        - Met
                        - Geo
                        - Safety
                        - Security
                        - Rescue
                        - Fire
                        - Health
                        - Env
                        - Transport
                        - Infra
                        - CBRNE
                        - Other
                severity:
                    $ref: '#/components/schemas/AlertSeverity'
                certainty:
                    $ref: '#/components/schemas/AlertCertainty'
                urgency:
                    $ref: '#/components/schemas/AlertUrgency'
                event:
                    description: The text denoting the type of the subject event of the alert message.
                    type: string
                sender:
                    description: Email address of the NWS webmaster.
                    type: string
                senderName:
                    description: The text naming the originator of the alert message.
                    type: string
                headline:
                    description: The text headline of the alert message.
                    type: string
                    nullable: true
                description:
                    description: The text describing the subject event of the alert message.
                    type: string
                instruction:
                    description: >
                        The text describing the recommended action to be taken by recipients of the alert message.
                    type: string
                    nullable: true
                response:
                    description: >
                        The code denoting the type of action recommended for the target audience.

                        This corresponds to responseType in the CAP specification.
                    type: string
                    enum:
                        - Shelter
                        - Evacuate
                        - Prepare
                        - Execute
                        - Avoid
                        - Monitor
                        - Assess
                        - AllClear
                        - None
                parameters:
                    description: >
                        System-specific additional parameters associated with the alert message.

                        The keys in this object correspond to parameter definitions in the NWS CAP specification.
                    type: object
                    additionalProperties:
                        type: array
                        items: {}
        AlertCollection:
            type: object
            properties:
                title:
                    description: A title describing the alert collection
                    type: string
                updated:
                    description: The last time a change occurred to this collection
                    type: string
                    format: date-time
                pagination:
                    description: Links for retrieving more data
                    type: object
                    properties:
                        next:
                            description: A link to the next set of alerts
                            type: string
                            format: uri
                    required: [next]
                    additionalProperties: false
        AlertCollectionGeoJson:
            allOf:
                - $ref: '#/components/schemas/GeoJsonFeatureCollection'
                -
                    type: object
                    properties:
                        features:
                            type: array
                            items:
                                type: object
                                properties:
                                    properties:
                                        $ref: '#/components/schemas/Alert'
                - $ref: '#/components/schemas/AlertCollection'
        AlertCollectionJsonLd:
            allOf:
                - $ref: '#/components/schemas/AlertCollection'
                -
                    type: object
                    properties:
                        '@context':
                            $ref: '#/components/schemas/JsonLdContext'
                        '@graph':
                            type: array
                            items:
                                $ref: '#/components/schemas/Alert'
        AlertCap:
            type: object
        AlertGeoJson:
            allOf:
                - $ref: '#/components/schemas/GeoJsonFeature'
                -
                    type: object
                    properties:
                        properties:
                            $ref: '#/components/schemas/Alert'
        AlertJsonLd:
            type: object
            properties:
                '@graph':
                    type: array
                    items:
                        $ref: '#/components/schemas/Alert'
        AlertId:
            description: The identifier of the alert message.
            type: string
        AlertCertainty:
            type: string
            enum:
                - Observed
                - Likely
                - Possible
                - Unlikely
                - Unknown
        AlertMessageType:
            type: string
            enum:
                - Alert
                - Update
                - Cancel
                - Ack
                - Error
        AlertSeverity:
            type: string
            enum:
                - Extreme
                - Severe
                - Moderate
                - Minor
                - Unknown
        AlertStatus:
            type: string
            enum:
                - Actual
                - Exercise
                - System
                - Test
                - Draft
        AlertUrgency:
            type: string
            enum:
                - Immediate
                - Expected
                - Future
                - Past
                - Unknown
        AlertAtomEntry:
            description: An alert entry in an Atom feed
            type: object
            xml:
                name: entry
                namespace: http://www.w3.org/2005/Atom
            properties:
                id:
                    type: string
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                updated:
                    type: string
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                published:
                    type: string
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                author:
                    type: object
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                    properties:
                        name:
                            type: string
                summary:
                    type: string
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                event:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                sent:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                effective:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                expires:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                status:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                msgType:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                category:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                urgency:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                severity:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                certainty:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                areaDesc:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                polygon:
                    type: string
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                geocode:
                    type: array
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                    items:
                        $ref: '#/components/schemas/AlertXMLParameter'
                parameter:
                    type: array
                    xml:
                        namespace: urn:oasis:names:tc:emergency:cap:1.2
                    items:
                        $ref: '#/components/schemas/AlertXMLParameter'
        AlertXMLParameter:
            type: object
            properties:
                valueName:
                    type: string
                value:
                    type: string
        AlertAtomFeed:
            description: An alert feed in Atom format
            type: object
            xml:
                name: feed
                namespace: http://www.w3.org/2005/Atom
            properties:
                id:
                    type: string
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                generator:
                    type: string
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                updated:
                    type: string
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                author:
                    type: object
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                    properties:
                        name:
                            type: string
                            xml:
                                namespace: http://www.w3.org/2005/Atom
                title:
                    type: string
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                entry:
                    type: array
                    xml:
                        namespace: http://www.w3.org/2005/Atom
                    items:
                        $ref: '#/components/schemas/AlertAtomEntry'
        AreaCode:
            description: State/territory codes and marine area codes
            oneOf:
                - $ref: '#/components/schemas/StateTerritoryCode'
                - $ref: '#/components/schemas/MarineAreaCode'
        BinaryFile:
            type: string
            format: binary
        CenterWeatherAdvisoryCollectionGeoJson:
            allOf:
                - $ref: '#/components/schemas/GeoJsonFeatureCollection'
                -
                    type: object
                    properties:
                        features:
                            type: array
                            items:
                                type: object
                                properties:
                                    properties:
                                        $ref: '#/components/schemas/CenterWeatherAdvisory'
        CenterWeatherAdvisoryGeoJson:
            allOf:
                - $ref: '#/components/schemas/GeoJsonFeature'
                -
                    type: object
                    properties:
                        properties:
                            $ref: '#/components/schemas/CenterWeatherAdvisory'
        CenterWeatherAdvisory:
            type: object
            properties:
                id:
                    type: string
                issueTime:
                    type: string
                    format: date-time
                cwsu:
                    $ref: '#/components/schemas/NWSCenterWeatherServiceUnitId'
                sequence:
                    type: integer
                    minimum: 101
                start:
                    type: string
                    format: date-time
                end:
                    type: string
                    format: date-time
                observedProperty:
                    type: string
                text:
                    type: string
            additionalProperties: false
        CenterWeatherServiceUnitJsonLd:
            - $ref: '#/components/schemas/Office'
        Date:
            description: Date (in YYYY-MM-DD format).
            type: string
            format: date
        FIRIdentifier:
            description: FIR Identifier
            type: string
            pattern: '^[A-Z]{4}$'
        GeometryString:
            description: A geometry represented in Well-Known Text (WKT) format.
            type: string
            format: wkt
            nullable: true
        GeoJsonBoundingBox:
            description: A GeoJSON bounding box. Please refer to IETF RFC 7946 for information on the GeoJSON format.
            type: array
            minItems: 4
            items:
                type: number
        GeoJsonCoordinate:
            description: A GeoJSON coordinate. Please refer to IETF RFC 7946 for information on the GeoJSON format.
            type: array
            minItems: 2
            items:
                type: number
        GeoJsonGeometry:
            description: A GeoJSON geometry object. Please refer to IETF RFC 7946 for information on the GeoJSON format.
            nullable: true
            oneOf:
                -
                    title: GeoJSON Point
                    type: object
                    required: [type, coordinates]
                    properties:
                        type:
                            type: string
                            enum: [Point]
                        coordinates:
                            $ref: '#/components/schemas/GeoJsonCoordinate'
                        bbox:
                            $ref: '#/components/schemas/GeoJsonBoundingBox'
                -
                    title: GeoJSON LineString
                    type: object
                    required: [type, coordinates]
                    properties:
                        type:
                            type: string
                            enum: [LineString]
                        coordinates:
[...]
